<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="dflex">
     <header>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
           <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown" >
            <ul class="navbar-nav ml-auto">

              <li　class="nav-item" style="margin-top:5px;">
                <a class="nav-link text-light" href="/">
                  <span><i class="fas fa-home"></i>Home</span>
                </a>
              </li>

               <% if user_signed_in? %>


             <li class="nav-item">
               <a class="nav-link text-light" href="/users">
                 <span><i class="fas fa-users"></i>Users</span>
               </a>
             </li>

              <li class="nav-item">
                <a class="nev-link text-light" href="/books">
                  <span><i class="fas fa-book-open"></i>Books</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-light" rel="nofollw" data-method="delete" href="/users/sign_out">
                  <span><i class="fas fa-sign-out-alt"></i>Log out</span>
                </a>
              </li>

              <% else %>

              <li class="nav-item" style="margin-top:5px;">
                <a class="nav link text-light" href="/homes/about">
                  <span><i class="fas fa-link"></i>About</span>
                </a>
              </li>

              <li class="nav-item" style="margin-top:12px;">
                <a class="nav link text-light" href="/users/sign_up">
                  <span><i class="fas fa-user-plus"></i>Sign up</span>
                </a>
              </li>

              <li class="nav-item" style="margin-top:10px;">
                <a class="nav-link text-light" href="/users/sign_in">
                  <span><i class="fas fa-sign-in-alt"></i>Log in</span>
                </a>
              </li>

              <% end %>

            </ul>
          </div>
        </div>
       </nav>
  </header>
  <main>
    <%= yield %>
   </main>
  <footre>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footre>
  </body>
</html>
